.container.main {
    margin-top: 5.0em;
}

#delete {
    display: inline;
}

.ui .button {
    margin: 1em 0.4em 0 0;
}

.time {
    color: #777;
    font-size: 0.7em;
}

.post {
    margin-top: 15px;
}

.author {
    font-size: 0.8em;
    color: #555;
    font-style: italic;
}